<<<<<<< HEAD
------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 body{
=======

body{
>>>>>>> 838302bc7d612ce7b5155d288b8598e9f332a4f0
    overflow-x: hidden;
    width: 100%;
    background: rgba(31, 31, 31, 0.95);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.titel h1{
    position: relative;
    left: 5.625rem;
    width: 40.07rem;
    height: 13.431rem;
    top: 5.625rem;
    color: #D9D9D9;
    font-family: Abel;
    font-size: 4.11rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.titel p{
    width: 31.25rem;
    height: 1.875rem;
    flex-shrink: 0;
    color: #D9D9D9;
    position: relative;
    left: 12.5rem;
    top: 2.375rem;
    font-family: Abel;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.img-1 .immg{
    top: 3.31rem;
    position: relative;
    left: 36.125rem;
    width: 32.68rem;
    height: 27rem;
}
.img{
    position: relative;
    left: 43.43rem;
    bottom: -2.5rem;
    z-index: 1;
    width: 24.71rem;
    height: 16.44rem;
}
.now{
    z-index: 1;
    border-radius: 29px;
    background: red;
    position: relative;
    left: 28.88rem;
    top: -14rem;
    width: 19rem;
    height: 5rem;
    color: #D9D9D9;
    font-family: Abel;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}
.now h2{
    font-size: 21px;
    text-align: center;
    position: relative;
    top: 28px;
}
.form{
 
display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
/* width: 100rem; */
gap: 7rem;
border: transparent;
}
.form input , textarea , button {
    position: relative;
    width: 700px ;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    border-bottom: 2px solid ;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

}
.form button{
    width: 8rem;
    height: 4rem;
    background: red;
    border-radius: 30px;
    color: #D9D9D9;
    font-family: Abel;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#HH2{
    color: rgb(156, 159, 159);
    margin-top: 35px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.maps{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact_resto{
 
   
    font-size: 30px; 
    color: aliceblue;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

footer{
    position: relative;
    top: 100px;
    background: rgb(116 116 116 / 95%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    color: aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Abel;

}
.icoon{
    margin-top: 30px;

}



@media (max-width: 575px) {
  
    
    .img{
        position: relative;
        width: 328px;
        height: 272px;
        left: 1377px;
        top: 273px;
    }
    .immg{
        margin-bottom: 49px;
        margin-left: 492px;
        margin-top: -124px;
    }
    .now{
        top: -235px;
        position: relative;
        left: 1216px;
        width: 230px;
        height: 72px;
    
    }
    .now h2{
        font-size: 24px;
        position: relative;
        top: 14px;
    }
    .form input , textarea , .buto{
        position: relative;
        left: 900px;
    }
    .buto{
           position: relative;
    left: 867px;
    }
    #HH2{
        padding-left: 132px;
        color: darkkhaki;
        left: 554px;
        font-size: 81px;
        position: relative;
        top: 44px;
        margin-top: 33px;
    }
    .maps{
        position: relative;
        left: 00px;
        top: 100px;
        margin-left: 170px;
    }
    .contact_resto{
        position: relative;
        left: 1050px;
        top: -290px;
        font-size: 50px; 
        color: aliceblue;
    }
    .icoon{
        position: relative;
        left: -390px;
        margin-left: 20px;
        font-size: 30px;
    }
    .footer-content{
        position: relative;
        left: -390px;
        font-size: 30px;
    }
    .ahah{
        margin-left: 950px;
        font-size: 30px;
    }
    
    footer{
        position: relative;
        top: 200px;
        width: 2110px;
        height: 120px;
        font-size: 20px;

    }
    .phone span{
        position: relative;
        top: -31px;
    left: 207px;
    }
    .form{
        position: relative;
        font-size: 29px;
        left: -379px;
        
    }
   
}